body {
    font-size: large;
}

h1, 
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.25em;
}

header {
    margin-bottom: 1em;
}

header h1 {
    margin-top: .6em;
    margin-bottom: 0;
    font-size: 3.5em;
}

main {
    margin-bottom: 5em;
}

main ul {
    margin-left :0;
    padding-left: 1em;
    margin-bottom: 1em;
}

main li {
    padding-bottom: 0.5em;
}

main ul.nav-tabs li {
    padding-bottom: 0;
}

[role="tabpanel"] ul {
    margin-top: 1em;
}

main .code {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

main .nav-tabs > li > a {
    background-color: #EEEEEE;
}

nav {
    margin: 0;
}

nav li {
    margin-top: 0.45em;
    border: solid thin #337ab7;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

aside {
    margin: 0;
    padding: 0;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: #F4F4F4;
    margin-right: 12em;
    width: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

aside h2 {
    margin: 0;
    padding: 0;
}

aside ul {
    margin: 0;
    padding: 0;
    margin-left: 1.15em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

aside .inst {
    margin-top: 2em;
    font-size: 90%;
    font-style: italic;
}

aside button {
    text-align: center;
    margin: 0.25em;
    width: 95%;
}

aside .note {
    font-size: 90%;
    font-style: italic;
}

a:focus,
a:hover {
    text-decoration: underline;
}

.code {
  font-family: courier, monosapce;
  background: #F0F0F0;
}
