
[role="treeitem"]:hover,
[role="treeitem"]:focus {
  border-color: #eee;
  cursor: default;
}

[role="tree"]:active {
  border-color: #bbb;
}

[aria-expanded="true"] {
  border: solid 1px #333;
  padding: 10px;
}

img.headerImg {
  margin-right: 5px;
}

ul, li{
  list-style: none
}
ul.tree {
  width: 16em;
  font-size: 100% !important;
}


li.focus {
  color: white;
  background: black;
}