
[role="treeitem"]:hover,
[role="treeitem"]:focus {
  border-color: #eee;
  cursor: default;
}

[role="tree"]:active {
  border-color: #bbb;
}

[role="treeitem"][aria-expanded]:before {
  content: url(../images/contracted.gif);
}

[role="treeitem"][aria-expanded="true"]:before {
  content: url(../images/expanded.gif);
}

li[role="treeitem"] {
  list-style: none
}

ul[role="tree"] {
}

