.megamenu{
	display: none;
	position: fixed;
	background: White;
  width: 100%;
  height: 100%;
	z-index: 10;
}
#megamenu-1 > div{ margin:.25em;}
#megamenu-1 > div > .dialogboxhead{ background: white; font-size:19px; padding:1em; border-bottom: black thin solid}
#megamenu-1 > div > .dialogboxbody{ background: white; padding:1em; }
#megamenu-1 > div > .dialogboxfoot{ background: white; padding:1em; text-align:right; }