ul[role="menubar"] {
  margin: 10px;
  padding: 10px;
  font-size: 110%;
  list-style: none;
}

ul[role="menubar"] li {
  display: inline;
  padding: 0;
}

ul[role="menubar"] li a {
  padding-left: 0.15em;
  padding-right: 0.15em;
}

ul[role="menubar"] li a:before {
  content: url('../images/down-arrow.png');
}

ul[role="menubar"] li a:focus,
ul[role="menubar"] li a:hover {
  background-color: black;
  color: white;
}




ul[role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

ul[role="menu"] li {
  list-style: none;
}

[role="menu"] {
  padding: 0;
  width: 8em;
  border: thin solid black;
  background-color: #EEEEEE;
}

[role="menuitem"] {
  padding: 0.25em;
}

[role="menuitem"]:focus,
[role="menuitem"]:hover {
  background-color: #FFFFFF;
}
